# we made this file because i dont want k y sub inculde naw hu last deployment k time 

# Git
.git   
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/